/*
 *   Fonts
 */

@font-face {
    font-family: 'Sailec';
    src: url(../fonts/sailec_fix/Sailec-Regular.woff);
}


@font-face {
    font-family: 'Lyon Display FIX';
    src: url(../fonts/lyon_display_fix/LyonDisplay-Regular.woff);
}


body{
    margin: 0;
    font-family: "Sailec", SansSerif;
    color: #334445;
    font-size: 0.9rem;
}


/*
 * Header CSS
 */

header{
    padding-top: 1rem;
    background: url(../images/image_from_ios-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #334445;
}

.header-text-section
{
    padding-top: 7rem;
    padding-bottom: 20rem;
}

.header-text-section h1
{
    font-family: "Lyon Display FIX";
}
/*
 * Headings
 */

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 16px;
}

a{
    color: #2cc2c4;
}

/*
 * Main Section
 */

main{
    margin-top: -15rem;
}


.intervention-box
{
    margin-bottom: 3rem;
}

.bg-theme
{
    background-color: #f4f7f7;
}

.text-theme
{
    color: #f4f7f7;
}

.intervention-left{
    background-color: #f4f7f7;
    padding: 2rem;
}

.intervention-right{
    background-color: #fff;
    padding: 2rem;
}

.intervention-left p,
.intervention-right p
{
    font-size: 0.9rem;
}

.intervention-left > p
{
    margin-bottom: 2rem;
}

.intervention-left a
{
    color: #2cc2c4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.intervention-left h2,
.intervention-right h2
{
    margin-bottom: 1.5rem;
}

.intervention-right h6
{
    color: #2cc2c4;
}

.intervention-right p
{
    color: #849aa8;
    font-size: 0.8rem;
}

.intervention-right img
{
    margin-top: 3rem;
}

.intervention-inner-box
{
    margin-top: 2rem;
    border: 1px solid #e6eaea;
    padding: 1.5rem;
    border-radius: .25rem;
}

.intervention-inner-box p
{
    color: #849aa8;
    font-size: 0.8rem;
}

.intervention-inner-box a
{
    text-transform: none;
    letter-spacing: normal;
    font-size: 0.8rem;
}


.side-panel
{
    //position: relative;
    padding: 0;
    overflow: hidden;
}

.side-panel-inner
{
    position: absolute;
    top: 50%;

    width:inherit;
    max-width:380px;
    height: max-content;
    box-shadow: 0px 0px 15px rgba(51, 68, 69, 0.19);;
    background-color: #fff;
}

.side-panel-top
{
    padding: 2.2rem 2rem;
}

.side-panel-inner h3
{
    font-family: 'Lyon Display FIX';
    margin-bottom: 0;
}

.side-panel-inner a
{
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #2cc2c4;
}

.side-panel-inner hr
{
margin-top: 0;
}

.side-panel-rest
{
    padding: 0.5rem 2rem;
}

.side-panel-rest h4
{
    margin-bottom: 1.5rem;
}

.side-panel-rest
{
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}

.side-panel-rest a
{
    color: #333;
}

.side-panel-rest hr
{
    margin-top: 1rem;
}

.status-bar-box .status-bar
{
    width: 30%;
    display: inline-block;
    height: 6px;
    background: #f1f1f1;
    border-radius: 3px;
    margin-right: 3px;
}

.status-bar.active
{
    background: #2cc2c4;
}

.enaluators-description
{
    margin-top: 1rem;
    font-size: 10px;
    color: #849aa8;
}

.enaluators-social
{
    margin: 2rem 0rem;
}

.enaluators-social p
{
    color: #849aa8;
}

.enaluators-social a
{
    margin-right: .5rem;
}

.section-theme
{
    background-color: #2cc2c4;
}

.tools-box
{
    position: relative;
    padding: 1.75rem 1.5rem;
    background-color: #f4f7f7;
    height: 250px;
}

.tools-box p
{
    color: #849aa8;
    font-size: 0.8rem;
    margin-bottom: 2.5rem;
}

.tools-box a
{

    font-size: 0.8rem;
}

.section-enaluators
{
    overflow: hidden;
}

.section-tools {
    background-color: #fff;
    margin-top: 7rem;
    margin-bottom: 8rem;
}
.section-tools p
{
    color: #849aa8;
    font-size: 0.8rem;
    margin-bottom: 4rem ;
}

footer
{
    background-color: #ebf0f0;
    padding-top: 5rem;
}

.subscription
{
    padding: 3rem;
    background-color: #fff;
    margin-bottom: 7rem;
    margin-top: -8rem;
}

.theme-input
{
    font-size: 0.8rem;
    border: 0;
    border-bottom: 1px solid #c6d0d0;
    background-color: transparent;
    color: #849aa8;
}

.contact-form
{
    background-color: #f4f7f7;
    padding: 4rem;
    margin-bottom: 5rem;
}

.contact-form p
{
    color: #849aa8;
    font-size: 0.8rem;
    margin-bottom: 4rem;
}

.contact-form .form-group
{
    margin-bottom: 1.5rem;
}

.contact-form button
{
    margin-top: 1rem;
}

.btn-theme
{
    border-radius: 0;
    background-color: #2cc2c4;
    font-size: 0.7rem;
    padding: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.report
{
    padding: 5rem;
}

.report p
{
    color: #849aa8;
    font-size: 0.8rem;
    margin-bottom: 4rem;
}

.report a
{
    font-size: 0.8rem;
    margin-bottom: 6rem;
}



/********* Home Page CSS ********/
body.home
{
    background: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.home header
{
    background: unset;
}

.home header span
{
    color: #fff;
}

.home-main
{
    margin-top: 0;
}

.hero-section h1
{
    font-size: 4rem;
    margin-top: 7rem;
}

.hero-section p
{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.btn-hero
{
    margin-top: 3rem;
    color: #fff;
    font-size: .8rem;
    padding: 1.5rem 6rem;
    background-color: #2cc2c4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-hero span
{
    padding-left: 1rem  ;
}


/************** Steps CSS ********************/
.steps-header .header-text-section h1
{
    font-family: "Sailec", SansSerif;
}


/********************* Step One ****************/
.step-one-radio {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
    border: 1px solid #dee2e6;
}
.step-one-radio label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    overflow: hidden;
    margin-bottom: 0;
}

.step-one-radio label  h2{
    margin-top: 5rem;
}

.step-one-radio label  p{
    color: #849aa8;
    margin-bottom: 2rem;
}

.step-one-radio label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #2cc2c4;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.step-one-radio label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 10px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 30px;
    top: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.step-one-radio input:checked ~ label {
    color: #fff;
}

.step-one-radio input:checked ~ label p{
    color: #fff;
}

.step-one-radio input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.step-one-radio input:checked ~ label:after {
    background-color: #334445;
    border-color: #fff;
}
.step-one-radio input {
    width: 32px;
    height: 32px;
    -webkit-box-ordinal-group: 2;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}