/*
 *   Fonts
 */

@font-face {
    font-family: 'Sailec';
    src: url(../fonts/sailec_fix/Sailec-Regular.woff);
}


@font-face {
    font-family: 'Lyon Display FIX';
    src: url(../fonts/lyon_display_fix/LyonDisplay-Regular.woff);
}


body{
    margin: 0;
    font-family: "Sailec", SansSerif;
    color: #334445;
    font-size: 0.9rem;
}


/*
 * Header CSS
 */

header{
    padding-top: 1rem;
    background: url(../images/image_from_ios-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #334445;
}

.header-text-section
{
    padding-top: 7rem;
    padding-bottom: 20rem;
}
/*
 * Headings
 */

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 16px;
}


/*
 * Main Section
 */

main{
    margin-top: -15rem;
}


.intervention-box
{
    margin-bottom: 3rem;
}

.bg-theme
{
    background-color: #f4f7f7;
}

.text-theme
{
    color: #f4f7f7;
}



.intervention-left{
    background-color: #f4f7f7;
    padding: 2rem;
}

.intervention-right{
    background-color: #fff;
    padding: 2rem;
}

.intervention-left p,
.intervention-right p
{
    font-size: 0.9rem;
}

.intervention-left > p
{
    margin-bottom: 2rem;
}

.intervention-left a
{
    color: #2cc2c4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.intervention-left h2,
.intervention-right h2
{
    margin-bottom: 1.5rem;
}

.intervention-right h6
{
    color: #2cc2c4;
}

.intervention-right p
{
    color: #849aa8;
    font-size: 0.8rem;
}

.intervention-right img
{
    margin-top: 3rem;
}

.intervention-inner-box
{
    margin-top: 2rem;
    border: 1px solid #e6eaea;
    padding: 1.5rem;
    border-radius: .25rem;
}

.intervention-inner-box p
{
    color: #849aa8;
    font-size: 0.8rem;
}

.intervention-inner-box a
{
    text-transform: none;
    letter-spacing: normal;
    font-size: 0.8rem;
}


.side-panel
{
    position: relative;
    padding: 0;
}

.side-panel-inner
{
    position: fixed;
    width:inherit;
    max-width:380px;
    height: max-content;
    box-shadow: 0px 0px 15px rgba(51, 68, 69, 0.19);;
    background-color: #fff;
}

.side-panel-top
{
    padding: 2.2rem 2rem;
}

.side-panel-inner h3
{
    font-family: 'Lyon Display FIX';
    margin-bottom: 0;
}

.side-panel-inner a
{
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #2cc2c4;
}

.side-panel-inner hr
{
margin-top: 0;
}

.side-panel-rest
{
    padding: 0.5rem 2rem;
}

.side-panel-rest h4
{
    margin-bottom: 1.5rem;
}

.side-panel-rest
{
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}

.side-panel-rest a
{
    color: #333;
}

.side-panel-rest hr
{
    margin-top: 1rem;
}

.status-bar-box .status-bar
{
    width: 30%;
    display: inline-block;
    height: 6px;
    background: #f1f1f1;
    border-radius: 3px;
    margin-right: 3px;
}

.status-bar.active
{
    background: #2cc2c4;
}

.enaluators-description
{
    margin-top: 1rem;
    font-size: 10px;
    color: #849aa8;
}

.enaluators-social
{
    margin: 2rem 0rem;
}

.enaluators-social p
{
    color: #849aa8;
}

.enaluators-social a
{
    margin-right: .5rem;
}

